@CHARSET "UTF-8";
#container{
	 
}
#top-head{
	background-color:#FFFFFF;
	height:80px;
	width:100%;
	
}
#header-left{
	float:left;
	margin-left:60px;
	margin-top:5px;
}
#header-right{
	width:50%;
	margin-top:20px;
	margin-right:20px;
	padding-left:10px;
	
}
a{
	text-decoration:none;
}
#menu{
	border:1px solid #CCC;
	height:40px;
	background-color:#006400;
}
#menu ul{
	list-style:none;
	margin:0;
}
#menu ul li{
	float:left;
	padding:0px 20px;
}